#paragraph1 p {
  color:red;
  font-size:50px;
}

#heading2 {
  &h2 {
color:blue;
    font-size:50px;}
}

#background-div {
  background-color: black;
  height: 100px;
  width: 100px;
}
